---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Campaña Velta">
  <h1>Velta</h1>
  <section>
    <article>
      <h2>¿Que es Velta?</h2>
      <p>
        Es una campaña sin fines lucrativos que busca digitalizar y probar
        nuevos métodos innovadores ofreciendolos GRATIS a gente joven
        (influencers o personas de a pie) y, una vez completada dicha campaña,
        se les recomienda y ofrece a los beneficiados la posibilidad de donar a
        cualquier ONG a modo de pago por nuestros servicios (aunque no es
        obligatorio)
      </p>
    </article>
    <article>
      <h2>¿Por qué Velta?</h2>
      <p>
        Esta campaña nace con el fin de ofrecer nuestros servicios más novedosos
        de manera gratuita premiando a los jóvenes influencers que más le gustan
        al equipo
      </p>
    </article>
    <article>
      <h2>¿Cómo se lleva a cabo?</h2>
      <p>
        Cuando llega el fin del año, se hace una encuesta global al equipo
        preguntando por "Su persona jóven favorita".
      </p>
      <p>
        Recopilamos las respuestas, y escribimos a los más votados ofreciendoles
        participar en esta campaña.
      </p>
      <p>
        Una vez tenemos a los participantes, el equipo entero se centra en hacer
        la web de los participantes a los que votaron. Si votaron a alguien que
        al final no salió, escogen otro con el se sientan agusto trabajando.
      </p>
      <p>
        Esta campaña tiene una duración máxima de 6 meses, 3 para hacer todas
        las webs y los 3 siguientes de mantenimiento.
      </p>
    </article>
  </section>
</Layout>
